.col-sm-6(style:"border-left:1px solid")
	h2 Auteur
	.col-sm-7 
		i.fa.fa-user 
		|&nbsp: Florian Zanardo
		br
		i.fa.fa-envelope
		|&nbsp: zanardo.florian@gmail.com
		br
		i.fa.fa-twitter
		|&nbsp: @pesto_p
	.col-sm-5
		img(src="https://placekitten.com/150/150" alt="Photo de l'auteur")
.col-sm-6
	h2 Origine du site
	p
		| Ce site n'a qu'un seul but, c'est celui de #[b m'entraîner] aux technologies web. 
	p
		| Pour l'instant il me permet de faire des #[b tests], et de #[b m'amuser] sur un sujet. J'ai encore de nombreuses choses à apprendre, et même si apprendre seul dans mon coin ne m'intéresse peu, je souhaite m'entraîner :) 
	p
		| Grâce à la magie d'internet, je peux vous partager mon test :)
		| N'hésitez pas à me donner votre avis, vos suggestions... Soyez #[b impitoyable] ;)