.col-lg-2 
// MAIN CONTENT 
//appel de l'enfant 
.col-lg-8
  h1 Bienvenue dans l'application blaug !
  br
  br
  button.btn.btn-sm.btn-primary.btn-block(ui-sref='login') Se connecter
  div(ui-view='login')
.col-lg-2