.articleViewerTemplate
  .col-sm-8
    img(src="https://placekitten.com/600/260" alt="Photo de courverture de l'article")
  .col-sm-4
    div
      h2 {{title}}
      div.description.italique
        | {{description}}
      span.left.italique Catégorie : {{categorie}}
      span.right.italique Auteur : {{auteur}}
  nav.text-center(aria-label='...')
    ul.pagination
      li.disabled
        a(href='#', aria-label='Previous')
          span(aria-hidden='true') «
      li.active
        a(href='#')
          | 1 
          span.sr-only (current)
      li
        a(href='#')
          | 2 
          span.sr-only
      li
        a(href='#', aria-label='Next')
          span(aria-hidden='true') »