div(ui-sref='article')
  include articleViewerTemplate.pug 
  include articleViewerTemplate.pug 
  include articleViewerTemplate.pug 
  include articleViewerTemplate.pug 
  include articleViewerTemplate.pug 
  include articleViewerTemplate.pug 
  include pagination.pug