.row(ui-sref='article')
  img.couvertureHome(src="https://placekitten.com/")
  div.couvertureHome
    h1 {{title}}
    div.description

    span.left Catégorie : {{categorie}}
    span.right Auteur : {{auteur}}

nav(aria-label='...')
  ul.pagination
    li.disabled
      a(href='#', aria-label='Previous')
        span(aria-hidden='true') «
    li.active
      a(href='#')
        | 1 
        span.sr-only (current)
