div(ui-sref='article')
  include articleViewerTemplate.jade 
  include articleViewerTemplate.jade 
  include articleViewerTemplate.jade 
  include articleViewerTemplate.jade 
  include articleViewerTemplate.jade 
  include articleViewerTemplate.jade 
  include pagination.jade