doctype html
html
  head
    title Blaug
    script(type='text/javascript' src='/node_modules/angular/angular.min.js')
    script(type='text/javascript' src='/node_modules/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript' src='/node_modules/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/dist/css/assets/javascripts/bootstrap.min.js')
    link(rel='stylesheet', href='/dist/css/app.css')
    //- petit favico 
    link(rel="shortcut icon" type="image/ico" href="../blaug.ico")
    script.
      var appBlog = angular.module('appBlog', ['ui.router']);
    
    //Différents controlleurs         
    script(type='text/javascript' src='/dist/scripts/controllers/appController.js')
    script(type='text/javascript' src='/dist/scripts/controllers/loginController.js')
    script(type='text/javascript' src='/dist/scripts/controllers/homeController.js')
    script(type='text/javascript' src='/dist/scripts/controllers/addArticleController.js')
    script(type='text/javascript' src='/dist/scripts/controllers/profileController.js')
    script(type='text/javascript' src='/dist/scripts/controllers/aboutController.js')
    script(type='text/javascript' src='/dist/scripts/controllers/articleController.js')

    //Différents services
    script(type='text/javascript' src='/dist/scripts/services/loginService.js')
    script(type='text/javascript' src='/dist/scripts/services/tokenInterceptor.js')

    script.
      //Fonctions à éxécuter avant tout le reste
      appBlog.run(function($rootScope, $window, loginService, $state) {
      //permet de savoir si oui, ou non, l'individu est loggé
        var getAuthorization = function () {
        if (!$window.sessionStorage.token) {
          $rootScope.logout = true;
          $state.go("login");
        } else {
          $rootScope.logout = false;
        }};
        $rootScope.$on('$statechangestart', getAuthorization());
        
        $rootScope.logoutF = function () {
          loginService.logout()
        };  
      })
      //définition des routes
      appBlog.config(function($httpProvider, $stateProvider, $urlRouterProvider){
        //lorsque aucune url correspond : login
        $urlRouterProvider.otherwise("app")
        //Intercepte le token et le met dans la requête
        $httpProvider.interceptors.push('tokenInterceptor');

        //routes
        $stateProvider
          .state('app', {
            url:'/app',
            templateUrl: '/dist/templates/app.html', 
            controller: 'appCtrl'
          })
          .state('login', {
            url:'/login',
            templateUrl: '/dist/templates/login.html', 
            controller: 'loginCtrl'
          })
          .state('landing', {
            url:'/landing',
            templateUrl: '/dist/templates/landingPage.html' 
          })
          .state('home', {
            url:'/home',
            templateUrl: '/dist/templates/home.html',
            controller: 'homeCtrl'
          })
          .state('about', {
            url:'/about',
            templateUrl: '/dist/templates/about.html', 
            controller: 'aboutCtrl'
          })
          .state('profile', {
            url:'/profile',
            templateUrl: '/dist/templates/profile.html', 
            controller: 'profileCtrl'
          })
          .state('addArticle', {
            url:'/addArticle',
            templateUrl: '/dist/templates/addArticle.html', 
            controller: 'addArticleCtrl'
          })
          .state('article', {
            url:'/article',
            templateUrl: '/dist/templates/article.html', 
            controller: 'articleCtrl'
          });
      });
    //contenu de la page 
    body(ng-app='appBlog') 
      // NAVIGATION 
      nav.navbar.navbar-default.navbar-static-top(role='navigation') 
        ul.nav.navbar-nav 
          li 
            a.navbar-brand(ui-sref='app') Blaug 
          li 
            a(ui-sref='home') Accueil
          li 
            a(ui-sref='profile') Profil 
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Catégorie
              .fa.fa-caret-down.icon
            ul.dropdown-menu
              li
                a(href='#') Sport
              li
                a(href='#') Livre
              li
                a(href='#') Chat
              li
                a(href='#') Vacances 
          li 
            a(ui-sref='landing') Ajouter un article 
          li 
            a(ui-sref='landing') Auteurs du moment  
          li 
            a(ui-sref='landing') Search 
          li 
            a(ui-sref='about') A propos 
        ul.nav.navbar-nav.right  
          li  
            a(ng-show="logout" ui-sref='login') Se connecter 
            a(ng-show="!logout" ng-click='logoutF()') Se déconnecter 
      div(ui-view)