nav.text-center(aria-label='...')
  ul.pagination
    li.disabled
      a(href='', aria-label='Previous')
        span(aria-hidden='true') «
    li.active
      a(href='')
        | 1 
        span.sr-only (current)
    li
      a(href='')
        | 2 
        span.sr-only
    li
      a(href='', aria-label='Next')
        span(aria-hidden='true') »